@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
    <h1 class="display-4">Data Pasien</h1>
</div>

<div class="card card-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">Data Pasien</h3>
    </div>
    @if (ViewBag.Pasien != "")
    {
        if (ViewBag.Pasien == "Pasien Baru")
        {
            <div id="addForm">
                @Html.Partial("~/Views/Antrian/_AddForm.cshtml")
            </div>
        }
        else
        {
            <div class="card-body">
                <table id="bootstrap-data-table2" class="table table-striped" style="width:100%">
                    <thead>
                        <tr class="font-weight-bold">
                            <th>#</th>
                            <th>Action</th>
                            <th>Nama</th>
                            <th>No Hp</th>
                            <th>Tanggal Lahir</th>
                            <th>Agama</th>
                            <th>Jenis Kelamin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("~/Views/Antrian/_TableData.cshtml")
                    </tbody>
                </table>
            </div>
        }

    }
    else
    {
        <div class="card-body">
            <h4 class="text-danger">Isi Data Pasien Dulu (Pasien Lama / Baru) !!</h4>
        </div>
    }
</div>

<form id="addForm" method="post" action="/antrian_process">
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Data Pasien</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">No Antrian</label>
                        <input type="text" class="form-control" id="noAntrian" name="noAntrian" placeholder="No Antrian" value="@ViewBag.NoAntrian">
                    </div>
                    <div class="form-group">
                        <label for="">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <label for="">No HP</label>
                        <input type="text" class="form-control" id="noHp" name="noHp" placeholder="NoHp">
                    </div>
                    <div class="form-group">
                        <label for="">Jenis Kelamin</label>
                        <input type="text" class="form-control" id="jenisKelamin" name="jenisKelamin" placeholder="jenisKelamin">
                    </div>
                    <div class="form-group">
                        <label for="">Agama</label>
                        <input type="text" class="form-control" id="agama" name="agama" placeholder="Agama">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Daftar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('#bootstrap-data-table2').DataTable();
        });

        $(".btn-pilih").on('click', function () {
            var currentRow = $(this).closest("tr");
            var dataNama = currentRow.find("td:eq(2)").html();
            var dataNoHp = currentRow.find("td:eq(3)").html();
            var dataJenisKelamin = currentRow.find("td:eq(6)").html();
            var dataAgama = currentRow.find("td:eq(5)").html();
            $("#nama").val(dataNama);
            $("#noHp").val(dataNoHp);
            $("#jenisKelamin").val(dataJenisKelamin);
            $("#agama").val(dataAgama);
        });

    </script>
}

