@*
    
*@

<div class="text-center">
    <div class="p-3 mb-2 bg-secondary text-white">
        <h1 class="display-4"><b>Selamat Datangs</b></h1>
    </div>
    <h2 class="display-4">Di Anjuangan Pintar Kasih Group</h2>
</div>
